.item-card{
    border:1px solid #ccc;
    border-radius: 6px;
    background-color: #ffffff;
    padding:4px;
    margin-top: 16px;
    color: #000000;
    max-width: 300px;
    max-height: 30px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 1rem;
    margin:0.5rem;
    overflow: hidden;
    line-height:1;
}
.item-card.active{
    background-color: red;
}
