<p>dialogo-generico works!</p>
<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div *ngFor="let field of data.fields">
    <mat-form-field *ngIf="field.type === 'text' || field.type === 'number'" appearance="outline">
      <mat-label>{{ field.label }}</mat-label>
      <input matInput [type]="field.type" [(ngModel)]="formValues[field.key]" />
    </mat-form-field>

    <mat-checkbox *ngIf="field.type === 'checkbox'" [(ngModel)]="formValues[field.key]">
      {{ field.label }}
    </mat-checkbox>

    <mat-form-field *ngIf="field.type === 'select'" appearance="outline">
      <mat-label>{{ field.label }}</mat-label>
      <mat-select [(ngModel)]="formValues[field.key]">
        <mat-option *ngFor="let option of field.options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-radio-group *ngIf="field.type === 'boolean'" [(ngModel)]="formValues[field.key]" class="boolean-radio-group">
        <mat-radio-button
            class="boolean-radio"
            *ngFor="let option of field.options"
            [value]="option.value">
            {{ option.label }}
        </mat-radio-button>
    </mat-radio-group>


  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>
